/* Polices */

@font-face {
	font-family: "Marmelad";
	src: url("../fonts/Marmelad-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Hind Madurai";
	src: url("../fonts/HindMadurai-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Hind Madurai";
	src: url("../fonts/HindMadurai-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

/* Variables pour polices et tailles */

:root {
	--font-title: "Marmelad", sans-serif;
	--font-subtitle: "Hind Madurai", sans-serif;
	--font-regular: "Hind Madurai", sans-serif;

	--font-size-title: 36px;
	--font-size-subtitle: 24px;
	--font-size-regular: 12px;
}

/* Titres et textes */

h1 {
	font-family: var(--font-title);
	font-size: var(--font-size-title);
	color: var(--color-title);
}

h2 {
	font-family: var(--font-subtitle);
	font-size: var(--font-size-subtitle);
	font-weight: 600;
	color: var(--color-subtitle);
}

p,
span,
li,
a {
	font-family: var(--font-regular);
	font-size: var(--font-size-regular);
	font-weight: 300;
}

/* Boutons */

button {
	font-family: var(--font-regular);
	font-size: var(--font-size-regular);
	border-radius: 9999px; /* capsule */
	background-color: var(--color-subtitle); /* corrigé */
	color: var(--color-button-text);
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: var(--color-title); /* corrigé */
}

/* Couleurs */

:root {
	--color-title: #5b2c10; /* h1 */
	--color-subtitle: #7f5539; /* h2 et boutons primaires */
	--color-icon: #ab7b5d; /* icônes */

	--color-background: #ffffff;
	--color-button-text: #fff;
}
