.container {
	position: relative;
	width: 100%;
	max-width: 430px;
	min-height: 932px;
	margin: 0 auto;
	background-color: var(--color-background);
}

.mainContent {
	position: relative;
	padding: 100px 0px 50px 0px;
	text-align: center;
}

.title {
	font-family: var(--font-title);
	font-size: 32px;
	line-height: 140%;
	color: var(--color-title);
	margin-bottom: 40px;
}

/* main image */

.image {
	width: 100%;
	max-width: 430px;
	height: auto;
	margin-bottom: 40px;
}

.subtitle {
	font-family: var(--font-regular);
	font-size: 20px;
	line-height: 28px;
	color: #9c6644;
	margin-bottom: 30px;
}

.button {
	display: block;
	margin: 0 auto 30px auto;
	width: 211px;
	height: 47px;
	background-color: var(--color-subtitle);
	border: none;
	border-radius: 9999px;
	font-family: var(--font-title);
	font-size: 12px;
	line-height: 14px;
	color: var(--color-button-text);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #ddb892;
}
